<template>
    <ul class="c-sidebar-nav">

        <li class="c-sidebar-nav-item">
            <link class="c-sidebar-nav-link" v-if="hasAnyPermission(['dashboard.index'])" :class="{ 'active' :
        $page.url.startsWith('/apps/dashboard')}" href="/apps/dashboard">

            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">

            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5
                    0 0 1  8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-
                    .914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0
                    1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5
                    0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91 0 1 0 
                    1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
            
            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547
                            2.66lc-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8
                            13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988
                            0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397
                            12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7
                            7 0 0 0 8 3z" />             
            </svg>
            <span class="ms-2">Dashboard</span>
        </li>

        <li class="c-sidebar-nav-title" v-if="hasAnyPermission(['categories.index']) ||
                hasAnyPermission(['products.index'])">MASTER</li>

                <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['categories.index'])">
                    <link class="c-sidebar-nav-link" href="/apps/categories"
                        :class="{ 'active': $page.url.startsWith('/apps/categories')}">
                    <svg xmlns="https://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-folder" vieBox="0 0 16 16">
                    
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1
                            1.414.5861.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.1811-.637
                            7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 0 0
                            1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.091.637 7a1 1 0 0 0
                            .995.91h10.348a1 1 0 0 0 .995-.91l.638-7A1  1 0 0 0 13.81
                            4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5al 1 0 0 0-1.981l.006.139C1.72
                            3.042.1.95 3 2.19 3h5.396l-.707-.707z"/>
                    </svg>    

                    <span class="ms-2">Categories</span>
                </li>

                <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['products.index'])">
                    <link class="c-sidebar-nav-link" href="/apps/products"
                        :class="{ 'active' : $page.url.startsWith('/apps/products')}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0
                            1 8 1zm3.5 3v-.5a3 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0
                            2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                    </svg>

                    <span class="ms-2">Products</span>
                </li>

                <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['customers.index'])">
                    <link class="c-sidebar-nav-link" href="/apps/customers"
                     :class="{ 'active' : $page.url.startsWith('/apps/customers')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8  0 0
                                1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225
                                5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>

                <span class="ms-2">Customers</span>
                </li>
            
            <li class="c-sidebar-nav-title" v-if="hasAnyPermission (['transactions.index'])">TRANSACTIONS</li>

            <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['transactions.index'])">
                <link class="c-sidebar-nav-link" href="/apps/transactions"
                     :class="{ 'active' : $page.url.startsWith('/apps/transactions')}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1
                    .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5c8A.5.5 0 0 1 13 12H4a.5.5
                    0 0 1-.491-.408L2.01 3.607 1.61 2H.5A.5.5 0 0 1-.5-.5zM3.102 4l1.313
                    7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4am7 0a2 2 0 1 0 0
                    4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1
                    0 0 1 0-2z"/>
                </svg>
            <span class="ms-2">Transactions</span>
            </li>

            <li class="c-sidebar-nav-title" v-if="hasAnyPermission(['sales.index']) ||
                hasAnyPermission(['profits.index'])">REPORTS</li>
            
            <li class="c-sidebar-nav-title" v-if="hasAnyPermission (['sales.index'])">
                <link class="c-sidebar-nav-link" href="/apps/sales"
                     :class="{ 'active' : $page.url.startsWith('/apps/sales')}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0
                    1 1h2a1 1 0 0 0 1-1Va1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1
                    1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>       
                </svg>
                <span class="ms-2">Report Sales</span>
            </li>

            <li class="c-sidebar-nav-title" v-if="hasAnyPermission (['profits.index'])">
                <link class="c-sidebar-nav-link" href="/apps/profits"
                     :class="{ 'active' : $page.url.startsWith('/apps/profits')}">
             <svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10
                            3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613
                            4.417a.5.5 0 0 1-.74.037L7.06.6.767l-3.656 5.027a.5.5 0 0 1-.808-
                            .588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L14.445 4H10.5a.5.5 0 0 1-.5-
                            .5Z"/>
                    </svg>
                    <span class="ms-2">Report Profits</span>
                </li>

                <li class="c-sidebar-nav-title" v-if="hasAnyPermission(['roles.index']) ||
                    hasAnyPermission(['permissions.index']) ||
                    hasAnyPermission(['users.index'])">USER MANAGEMENT</li>
                <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['roles.index'])">
                    <link class="c-sidebar-nav-link" href="/apps/roles"
                     :class="{ 'active' : $page.url.startsWith('/apps/roles')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481
                        0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 0 0 0 2.287
                        2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0
                        .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-
                        .29.893-.533a10.726 10.726 0 0 0 2.287-2.233cl.527-1.997 2.807-5.031
                        2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552
                        1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.256
                        7.31 0 8 0s1.843.256 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1
                        1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517
                        2.453 7.159 7.159 0 0 1-1.048-.625c-.28.132-.581.24-.829.24s-.548-.108-
                        .829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0
                        1-2.517-2.453C1.928 10.487.545 7.169 1.141 1.692A1.54 1.54 0 0 1 2.185
                        1.43 62.456 62.456 0 0 1 5.072.56z"/>
                <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0
                        1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5.7.793l2.646-2.647a.5.5 0 0 1
                        .708 0z"/>
                    </svg>
                    <span class="ms-2">Roles</span>
                </li>

                <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['permissions.index'])"></li>
                    <link class="c-sidebar-nav-link" href="/apps/permissions"
                     :class="{ 'active' : $page.url.startsWith('/apps/permissions')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M0 8a4 4 0 0 1 7.456-2H14a.5.5 0 0 1
                        .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-
                        .646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9
                        9.207l-.646.647a.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712
                        4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646.
                        .647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-
                        .793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                <span class="ms-2">Permissions</span>

            <li class="c-sidebar-nav-item" v-if="hasAnyPermission (['users.index'])"></li>
                    <link class="c-sidebar-nav-link" href="/apps/users"
                     :class="{ 'active' : $page.url.startsWith('/apps/users')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1
                        1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312
                        10.629 9.282 10 11 10c1.717 0 2.678.63 3.24 1.276.593.69.758 1.457.76
                        1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0
                        0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-
                        .247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238
                        0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92
                        10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256
                        3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0
                        0 0 0-4z"/>
                        </svg>
                        <span class="ms-2">Users</span>

                        <li class="c-sidebar-nav-divider"></li>
                             
    </ul>
</template>

<script>
    //import link
        import { link } from '@inertiajs/inertia-vue3';

        export default {
            components: {
                Link
            }
        }

</script>

<style>

</style>